body {
	font-family: "Open Sans", sans-serif;
	color: #454545;
}

section {
}

a.navbar-brand i.fa-home {
	font-size: 35px;
	line-height: 20px;
}

footer {
	text-align: right;
}
footer .fa {
	font-size: 1.4em;
	color: #333;
}
